@import '../node_modules/primeflex/primeflex.css';
@import 'primevue/resources/themes/saga-blue/theme.css';
@import 'primevue/resources/primevue.min.css';

body {
  overflow-x: hidden;
  margin: 0%;
}

@media screen and (min-width: 768px) {
  .unvisible-md-lg {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .unvisible-sm {
    display: none;
  }
}

.svg-icon-l {
    height: 16px;
    width: 16px;
  }

  